# Git LFS
*.nb filter=lfs diff=lfs merge=lfs -text
*.crf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.cfs filter=lfs diff=lfs merge=lfs -text
*.cfs filter=lfs diff=lfs merge=lfs -text

# 屏蔽文档与 build 文件统计
* text=auto
Documentation/* linguist-documentation
Packages/*.m linguist-generated=true
# make things fun lol
# *.md linguist-language=go
# *.wl linguist-language=perl
# *.nb linguist-language=ruby
# Packages/__Future__/*.m linguist-language=mercury
